[submodule "datasets/UTS_Text"]
	path = datasets/UTS_Text
	url = https://huggingface.co/datasets/undertheseanlp/UTS_Text
[submodule "datasets/UTS_WTK"]
	path = datasets/UTS_WTK
	url = https://huggingface.co/datasets/undertheseanlp/UTS_WTK
[submodule "datasets/UTS_Dictionary"]
	path = datasets/UTS_Dictionary
	url = https://huggingface.co/datasets/undertheseanlp/UTS_Dictionary
[submodule "datasets/VLSP2013_WTK"]
	path = datasets/VLSP2013_WTK
	url = https://huggingface.co/datasets/undertheseanlp/VLSP2013_WTK