# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

language: python
python: 3.6

env:
  - TOXENV=py36

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install tox-travis
  - pip install flake8

# command to run tests, e.g. python setup.py test
script:
  - flake8 --max-complexity 10 --ignore E501,W605 .
  - tox -e ${TOXENV}

# After you create the Github repo and add it to Travis, run the
# travis_pypi_setup.py script to finish PyPI deployment setup
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: magizbox
  password:
    secure: "bc4BxxqRTcbCgXiTxM0akkQpcqJTEuU6ojczEKE+9W1UX1sRvubKig9b2ixxxcz+aVgheL6FD3ig4R83ebQH3WIO/BHmed73GqbYi1bv/663dgAUHNHqGVKwK2FTWLe0B+jlL1ciVqbLdXbxivGRxknnBd1scHSY2OVFuEbluVX2hYIQHAoVP6w6tP7SIEk8HPNQDWSJ8b50HOAAPlYoWmOqyKrq+A6nGg9/pxj1CCcuKMfj/XjqAwdLm81nfg8reugoUQQvl0pKmkaHZFxjtLeSa8cmD5EwdUc2IPCIcS/kRtMF7Sw4uYfdf0ZnZ3q+kitj/UsWmgLFxMMpQQ3VQac1xDWj5ZyalGPevzwK09CgR1GaVT+QV6JsweKVD/4qefRo6QvHjykJkCt8Wc59gR8ZTrYcuPvY8I1NeiIFuMoMKets9WuVB4VxrbiE/Dw+IdQMTlgbOlSJpKAiklBghA6akCd8HuSXvxmXMhansOJK8JX8YAY+r3ujp19ESRgPh0oCPaks028Jh8iWBKlN8GbMXI05pFvEur6pebI24Ncrabjzc8sXfE9KNHDGoObbMZ0cqDsXdmtBYxRaNRsEDpJUXyqVC/MrBZoDC1M1WKArw3UglsG8Bz1C/ZK3zTf6MsoMGveKEZwFPgZ1VPpApWtNvW LAuM2hh7vxtR7G+wU="
