<h2>Sentiment Analysis</h2>
<p>Vietnamese Aspect Sentiment Analysis</p>
<hr/>

<div class="radio">
  <p>
    <b>Domain</b>:
    <label>
      <input type="radio"
             name="domain"
             id="optionsDomain"
             value="option1" checked disabled>
      bank
    </label>
  </p>
</div>

<p><b>Text</b></p>
<div class="row">
  <div class="col-lg-8 col-sm-12 text-demo">
    <div class="form-group">
      <textarea class="form-control" rows="8"
                id="text" ng-model="text"></textarea>
    </div>
    <br/>
    <p class="text-center">
      <span class="btn btn-success" ng-click="do()">Detect Sentiment</span>
    </p>
  </div>
  <div class="col-lg-4 col-sm-12 list-text-demo">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Try with:</p>
        <ul class="list-group">
          <li class="list-group-item"
              ng-repeat="sample in samples track by $index"
              ng-click="updateText(sample)">
            <span class="badge badge-info">{{ $index + 1 }}</span>
            <span class="content-li"> {{ sample }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<b>Output</b><br/>
<div id="output">
  <span ng-class="{
    'label': true,
    'label-success': tag.polarity == 'POSITIVE',
    'label-danger': tag.polarity == 'NEGATIVE'}">
    {{ tag.label }}
  </span>
</div>
