*
!.gitignore
!viwik_syllables_v1_2022.txt
!viwik_syllables_raw_v1_2022.txt
!sino_vietnamese_v1_2022.csv
!sino_vietnamese_syllables_v1_2022.txt
!hieuthi_all_vietnamese_syllables_v1_2022.txt
!uts_syllables_v1_2022.txt